:root {
  --text-color-corect: #20ff20;
  --text-color-incorect: #ff2020;
  --text-color: #151520;
  --bacground-nav: #ff5833;
  --form-color: #aaf;
}
* {
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.score {
  display: flex;
}
nav {
  padding: min(10px, 1vmin);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bacground-nav);
}
.name-nav {
  color: var(--text-color);
  font-size: min(100px, 10vmin);
  font-weight: 900;
  font-family: "Lato", sans-serif;
}
.points {
  letter-spacing: 0;
  font-family: "Lato", sans-serif;
  color: var(--text-color);
  font-size: min(70px, 8vmin);
}
section{
  margin-top: 2vh;
  padding: 2vmin;
  height: 30vh;
  width: 80vw;
  background-color: var(--form-color);
  border-radius: 5px;
}
form{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
}
.true{
  color: var(--text-color-corect);
}
.question-text{
  width: 100%;
}
button{
  width: 100px;
  height: 45px;
}